body {
      padding-top: 50px;
}

/* navbar color #134196 */

.navbar-default {
    background-color: #134196;
    border-color: #134196;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.jumbotron {
    margin-top: 10px;
}

#map {
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

