<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
        <h2>Midpoint</h2>
            <div ng-repeat="item in data.iss.list">
                <p ng-if='item["Nokia Price"] !== null'>{{item["Name"]}}  ({{item["Allergies"]}}) - {{item["Nokia Price"]}}</p>
                <p ng-if='item["Nokia Price"] == null'>{{item["Name"]}} ({{item["Allergies"]})</p>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Kara 3</h2>
            <div ng-repeat="item in data.amica.list">
                <p ng-if='item["Nokia Price"] !== null'>{{item["Name"]}} - {{item["Nokia Price"]}}</p>
                <p ng-if='item["Nokia Price"] == null'>{{item["Name"]}}</p>
            </div>
        </div>
    </div>
</div>
